<html>
   <body>
      <div class="">
         <div id=":jm" class="ii gt">
            <div id=":fe" class="a3s aXjCH msg1551078484051027000">
               <div>
                  <div class="m_1551078484051027000container" style="font-family:'Segoe UI','-apple-system','BlinkMacSystemFont','Roboto','Arial',sans-serif;color:#212121;font-size:14px;background:#f8f8f8">
                     <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                           <tr>
                              <td class="m_1551078484051027000mobile-hide" style="background-color:white;border-bottom:solid #eaeaea 1px"></td>
                              <td class="m_1551078484051027000content" width="640" style="padding:0px;max-width:640px;background-color:white;border-bottom:solid #eaeaea 1px">
                                 <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                       <tr>
                                          <td style="padding:20px 24px 25px 24px;background:white">
                                             <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_1551078484051027000responsive-table">
                                                <tbody>
                                                   <tr>
                                                      <td>
                                                         <table border="0" cellpadding="0" cellspacing="0" class="m_1551078484051027000logo" width="100%">
                                                            <tbody>
                                                               <tr>
                                                                  <td valign="middle" style="vertical-align:middle">
                                                                     <img alt="Whomps" height="16" src="{CompanyLogoURL}" width="80" class="CToWUd">
                                                                  </td>
                                                                  <td valign="middle" style="word-wrap:none;vertical-align:middle;text-align:right">
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td class="m_1551078484051027000hero" style="padding:0px 24px">
                                             <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:592px" class="m_1551078484051027000responsive-table">
                                                <tbody>
                                                   <tr>
                                                      <td>
                                                         <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                               <tr>
                                                                  <td>
                                                                     <table>
                                                                        <tbody>
                                                                           <tr>
                                                                              <td class="m_1551078484051027000title" style="padding:0 0 24px 0;color:#212121;font-size:28px;font-weight:bold;letter-spacing:-0.04em;line-height:40px;word-break:break-word">
                                                                                 {HDR}
                                                                              </td>
                                                                           </tr>
                                                                           <tr>
                                                                              <td class="m_1551078484051027000message" style="padding:0 0 24px 0">
                                                                                 <pre style="white-space:pre-wrap;display:inline;font-family:'Segoe UI','-apple-system','BlinkMacSystemFont','Roboto','Arial',sans-serif;padding:0px;margin:0px;font-size:14px;line-height:20px;color:#444444;word-break:break-word"> {SubHDR}</pre>
                                                                              </td>
                                                                           </tr>
                                                                        </tbody>
                                                                     </table>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                              <td class="m_1551078484051027000mobile-hide" style="background-color:white;border-bottom:solid #eaeaea 1px"></td>
                           </tr>
                           <tr>
                              <td class="m_1551078484051027000mobile-hide" style="background:#f8f8f8"></td>
                              <td class="m_1551078484051027000content" width="640" style="padding:0px;max-width:640px;background:#f8f8f8">
                                 <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                       <tr>
                                          <td style="padding:24px 24px 8px 24px;max-width:592px">
                                             <table border="0" width="100%" cellpadding="0" cellspacing="0" style="vertical-align:middle;background-color:white" class="m_1551078484051027000responsive-table">
                                                <tbody>
                                                   <tr>
                                                      <td style="padding:16px 24px 24px 24px">
                                                         <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                               <tr>
                                                                  <td style="font-size:21px;line-height:25px;font-weight:600;letter-spacing:-0.04em;padding:0px;width:100%">
                                                                     Summary
                                                                  </td>
                                                               </tr>
                                                               <tr>
                                                                  <td style="padding:12px 0px 0px 0px;line-height:20px;max-width:544px">
                                                                     <table border="0" cellpadding="0" cellspacing="0" style="width:100%;border-collapse:collapse!important">
                                                                        <tbody>
                                                                          {LeadDetail}
                                                                        </tbody>
                                                                     </table>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td style="padding:24px 24px 24px 24px">
                                             <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_1551078484051027000responsive-table">
                                                <tbody>
                                                   <tr>
                                                      <td style="color:#666666;font-size:12px;line-height:18px">
                                                         We sent you this notification on your request from our web portal.
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td style="padding-top:4px;color:#666666;font-size:12px;line-height:18px">
                                                         {CompanyName} respects your privacy. Review our Services <a href="{CompanyURL}" target="_blank" data-saferedirecturl="{CompanyURL}">Explore Me</a>.<br>{CompanyAddress}
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td style="padding-top:4px;color:#666666;font-size:12px;line-height:18px;color:#212121">
                                                         Sent from
                                                          <span style="color:#0078d4;font-weight:bold"><a href="{WhompsURLLink}" target="_blank" data-saferedirecturl="{WhompsURLLink}"> Whomps</a></span>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                              <td class="m_1551078484051027000mobile-hide" style="background:#f8f8f8"></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="yj6qo"></div>
               <div class="adL">
               </div>
            </div>
         </div>
         <div id=":jb" class="ii gt" style="display:none">
            <div id=":ja" class="a3s aXjCH undefined"></div>
         </div>
         <div class="hi"></div>
      </div>
   </body>
</html>